body{
    background-image: url(https://media.giphy.com/media/tKx3Fcc1vv9BhDMMjw/giphy.gif);
    background-color: rgba(8, 8, 8, 0.7);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: center;

}

.btn-primary:hover {
    background-color: green;
}

.me-md-2:hover{
    background-color: blueviolet;
}

#create_button:hover{
    background-color: chartreuse;
    color: black;
}

p input{
    border-radius: 20%;
}

p label{
    color: white;
    font-weight: 700;
}

.mt-5 tbody tr{
    color: white;
    font-weight: 700;
}

.mt-5 thead tr th{
    color: white;
}